@model IEnumerable<Group>
@{
    ViewData["Title"] = "My Groups";
}
@if (Model is null || Model.Any() == false)
{
    <p>Nothing is here..</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap p-2">
                    @foreach (var item in Model)
                    {
                        <div class="p-2">
                            <div class="card bg-dark text-white" style="width: 18rem;">
                                <img src="@item.GroupImageUrl" class="card-img-top" alt="Group Image" style="max-height: 300px;">
                                <div class="card-body">
                                    <h5 class="card-title text-white">@item.Name</h5>
                                    <p class="card-text  text-white">@item.Description</p>
                                    <p class="card-text  text-white">@item.Creator</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary" onclick="DeleteGroup(@item.Id)">Delete</button>
                                    <button class="btn btn-primary" onclick="UpdateGroupView(@item.Id)">Update</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-primary" onclick="Back('/Group/GetAll')">Back</button>
</div>

<div id="deleted" class="modal fade bg-transparent bg-dark" role="dialog">
    <div class="modal-dialog bg-dark">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title text-white">Deleted!</h4>
            </div>
            <div class="modal-body">
                <p class="text-white">Your group have successfully deleted<p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal" onclick="CloseModel(deleted)">Close</button>
            </div>
        </div>
    </div>
</div>