@model AdminViewModel
@{
    ViewData["Title"] = "All User";
}

<div class="d-flex flex-wrap">
    @if (Model is null || !Model.users.Any())
    {
        <p class="text-white">No user in base</p>
    }
    else
    {
        @foreach (var item in Model.users)
        {
            <div class="p-2">
                <div class="card bg-dark" style="max-width:300px" onclick="GoToWithId('/User/ProfileById','@item.user.Id')">
                    <img src="@item.user.AvatarUrl" class="card-img-top" alt="Game Image">
                    <div class="card-body">
                        <h5 class="card-title text-white">@item.user.Id</h5>
                        <p class="card-text text-white">@item.user.Email</p>
                        <p class="card-text text-white">@item.user.UserName</p>
                        <p class="card-text" style="color:@(item.role == "User" ? "white" : "red")">@item.role</p>
                    </div>
                </div>
                @if (item.role != "User")
                {                   
                    <button class="btn btn-danger" onclick="Unban('@item.user.Id')">UnBan</button>
                }
                else
                {
                    <button class="btn btn-danger" onclick="Ban('@item.user.Id')">Ban</button>
                }
                <button class="btn btn-danger" onclick="GoToWithId('/User/UpdateById','@item.user.Id')">Edit</button>
            </div>
        }
    }
</div>