@model IEnumerable<WorkShop>
@{
    ViewData["Title"] = "WorkShop";
}


    <div>
        <button class="btn btn-secondary" onclick="Back('/')">Back</button>
        <button class="btn btn-secondary mr-2" onclick="AddWorkShop()">Create WorkShop Item</button>
        <button class="btn btn-secondary mr-2" onclick="ShowWorkShop()">Show my Creations</button>
        <button class="btn btn-secondary mr-2" onclick="Back('/WorkShop/ShowSub')">Show my Sub</button>
    </div>

    @if (Model is null || Model.Any() == false)
    {
        <p>Nothing is here..</p>
    }
    else
    {
        <div class="d-inline-flex p-2 bg-dark">
            @foreach (var item in Model)
            {
                <div class="card bg-dark mb-3" style="max-width: 18rem;" onclick="showWorkShopDetails(@item.Id)">
                    <div class="card-header text-white">@item.Title</div>
                    <div class="card-body text-white">
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.Creator</p>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="card-footer bg-dark text-white">
                            <button class="btn btn-secondary mr-2" onclick="DeleteWorkShop(@item.Id)">Delete</button>
                            <button class="btn btn-secondary" onclick="UpdateWorkShopView(@item.Id)">Update</button>
                        </div>
                    }
                </div>
            }
        </div>
    }

    

