@model IEnumerable<WorkShop>
@{
    ViewData["Title"] = "ShowSub";
}


    @if (Model is null || !Model.Any())
    {
        <p class="text-white">Nothing is here..</p>
    }
    else
    {
    <div class="d-flex flex-wrap p-2">
            @foreach (var item in Model)
            {
                <div class="card m-2 bg-dark border-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-white">@item.Title</h5>
                        <p class="card-text text-white">@item.Description</p>
                        <p class="card-text text-white">@item.Creator</p>
                        <button class="btn btn-primary" onclick="UnFollow(@item.Id)">UnFollow</button>
                        @if (User.IsInRole("Admin"))
                        {
                            <button class="btn btn-primary" onclick="DeleteWorkShop(@item.Id)">Delete</button>
                            <button class="btn btn-primary" onclick="UpdateWorkShopView(@item.Id)">Update</button>
                        }
                    </div>
                </div>
            }
        </div>
    }

    <div>
        <button class="btn btn-primary" onclick="Back('/WorkShop/GetAll')">Back</button>
    </div>

<div id="unfollow" class="modal fade bg-transparent bg-dark" role="dialog">
    <div class="modal-dialog bg-dark">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title text-white">Unfollow!</h4>
            </div>
            <div class="modal-body">
                <p class="text-white">You have successfully unfollow from workshop item</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal" onclick="CloseModel(unfollow)">Close</button>
            </div>
        </div>
    </div>
</div>