@model IEnumerable<Game>
@{
    ViewData["Title"] = "Get All";
}


<div class="d-inline-flex p-2">
@if(Model is null || Model.Any() == false)
{
    <p>Nothing is here..</p>
}
else
{
    foreach(var item in Model)
    {
        <div>
                <div class="card" style="width: 18rem;" onclick="showGameDetails(@item.Id)" style="max-height: 200px;">
                    <img src="@item.GameImageUrl" class="card-img-top" alt="Game Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.Price</p>
                    </div>           
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <button class="btn btn-primary" onclick="DeleteGame(@item.Id)">Delete</button>
                        <button class="btn btn-primary" onclick="UpdateGameView(@item.Id)">Update</button>
                    </div>
                }
        </div>

           
    }
}
</div>
<div>
    <button class="btn btn-primary" onclick="Back()">Back</button>
</div>
