@model Game
@{
    ViewData["Title"] = "Update";
    var gamedto = new GameDto();
    var gameid = Model.Id;
}

    <form id="gameFormUpdate">
        <div class="mb-3">
            <label class="form-label text-white" asp-for="@Model.GameImageUrl">Image url</label>
            <input type="text" class="form-control" asp-for="@Model.GameImageUrl">
            <span class="text-danger" asp-validation-for="@gamedto.GameImageUrl"></span>
        </div>
        <div class="mb-3">
            <label class="form-label text-white" asp-for="@Model.GamePreviewUrl">Preview url</label>
            <input type="text" class="form-control" asp-for="@Model.GamePreviewUrl">
            <span class="text-danger" asp-validation-for="@gamedto.GamePreviewUrl"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label text-white">Title</label>
            <input type="text" asp-for="@Model.Title" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label text-white">Description</label>
            <input type="text" asp-for="@Model.Description" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Devoloper" class="form-label text-white">Devoloper</label>
            <input type="text" asp-for="@Model.Devoloper" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Devoloper"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Publisher" class="form-label text-white">Publisher</label>
            <input type="text" asp-for="@Model.Publisher" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Publisher"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label text-white">Price</label>
            <input type="text" asp-for="@Model.Price" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ReleaseDate" class="form-label text-white">ReleaseDate</label>
            <input type="date" asp-for="@Model.ReleaseDate" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.ReleaseDate"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Genre" class="form-label text-white">Genre</label>
            <input type="text" asp-for="@Model.Genre" class="form-control">
            <span class="text-danger" asp-validation-for="@gamedto.Genre"></span>
        </div>
        <button class="btn btn-primary" onclick="UpdateGame(@Model.Id)">Submit</button>
    </form>
    <button onclick="Back()" class="btn btn-primary">Back</button>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}