@model FindUserViewModel
@{
    ViewData["Title"] = "Find Another Profile";
    var username = string.Empty;
}

<div class="container">
    <form method="post" asp-controller="User" asp-action="Search" class="form-inline justify-content-center my-3" asp-route-username="@username">
        <div class="input-group col-auto">
            <input type="text" class="form-control" asp-for="@username" placeholder="Enter username">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </form>

    @if (Model.users is null || !Model.users.Any())
    {
        <p class="text-white">No user in base</p>
    }

    else
    {
        <div class="d-flex flex-wrap">
            @foreach (var item in Model.users)
            {
                if (Model.currentUser.UserName == item.UserName)
                {
                    continue;
                }
                <div class="p-2">
                    <div class="card bg-dark border-4" style="max-width: 300px;" onclick="GoToWithId('/User/ProfileById','@item.Id')">
                        <img src="@item.AvatarUrl" style="max-height:200px;max-width:150px" class="card-img-top" alt="Game Image">
                        <div class="card-body">
                            <p class="card-text text-white">@item.UserName</p>
                        </div>
                    </div>
                </div>
            }
        </div>       
    }
</div>