@model UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <!-- Информация о пользователе -->
            <div class="card bg-dark text-white">
                <img src="@Model.user.AvatarUrl" class="card-img-top" alt="User Avatar"
                     style="max-height:300px; max-width:300px;">
                <div class="card-body">
                    <h5 class="card-title">@Model.user.UserName</h5>
                    <p class="card-text">Status: @(Model.user.IsOnline ? "Online" : "Offline")</p>
                    @if (Model.IsFriend)
                    {
                        <button class="btn btn-secondary" onclick="DeleteFriends('@Model.user.Id')">Remove from friends</button>
                    }
                    else
                    {
                        @if (Model.IsRequested == true)
                        {
                            <button class="btn btn-secondary">Already Sent</button>
                        }
                        else
                        {
                            @if (Model.IsAnotherUser == true)
                            {
                                <button class="btn btn-secondary" onclick="AddToFriend('@Model.user.Id')">Add to friend</button>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Списки -->
            <div class="row">
                <div class="col-md-4">
                    <!-- Список игр -->
                    <div class="card bg-dark text-white">
                        <div class="card-header">Games</div>
                        <ul class="list-group list-group-flush">
                            @if (Model.games is null || Model.games.Any() == false)
                            {
                                <li class="list-group-item bg-dark text-white">No games</li>
                            }
                            else
                            {
                                foreach (var item in Model.games)
                                {
                                    <li class="list-group-item bg-dark text-white" onclick="GoToWithId('/Game/GetById',@item.Id)">
                                        <img src="@item.GameImageUrl" alt="Game Image" class="mr-2" style="max-height: 50px;max-width: 50px;"> @item.Title
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Список групп -->
                    <div class="card bg-dark text-white">
                        <div class="card-header">Groups</div>
                        <ul class="list-group list-group-flush">
                            @if (Model.groups is null || Model.groups.Any() == false)
                            {
                                <li class="list-group-item bg-dark text-white">No groups</li>
                            }
                            else
                            {
                                foreach (var item in Model.groups)
                                {
                                    <li class="list-group-item bg-dark text-white" onclick="GoToWithId('/Group/GetById',@item.Id)">
                                        <img src="@item.GroupImageUrl" alt="Group Image" class="mr-2" style="max-height: 50px;max-width: 50px;"> @item.Name
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Список друзей -->
                    <div class="card bg-dark text-white">
                        <div class="card-header">Friends</div>
                        <ul class="list-group list-group-flush">
                            @if (Model.Friends is null || Model.Friends.Any() == false)
                            {
                                <li class="list-group-item bg-dark text-white">No friends</li>
                            }
                            else
                            {
                                foreach (var item in Model.Friends)
                                {
                                    <li class="list-group-item bg-dark text-white" onclick="GoToWithId('/User/ProfileById','@item.Id')">
                                        <img src="@item.AvatarUrl" alt="User Image" class="mr-2" style="max-height: 50px;max-width: 50px;"> @item.UserName
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>