@model IEnumerable<Notification>
@{
    ViewData["Title"] = "Notification";
}

<div>
    <button class="btn btn-primary" onclick="Back('/Game/GetAll')">Back</button>
</div>


@if(Model is null || Model.Any() == false)
{
    <p>Nothing is here..</p>
}
else
{
    <div class="d-flex flex-wrap p-2">
        @foreach(var item in Model)
        {
           <div class="p-2">
            <div class="card bg-dark" style="width: 18rem;" style="max-height: 200px;">
                <div class="card-body">
                        <h5 class="card-title text-white">@item.Title</h5>
                        <p class="card-text text-white">@item.Description</p>
                        @if(item.Type == "RequestId")
                        {
                            <button class="btn btn-secondary" onclick="Accept(@item.Id)">Accept</button>
                        }
                        <p class="card-text text-white">@item.Type</p>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" onclick="DeleteNotification(@item.Id)">Delete</button>
            </div>
        </div>
        }
    </div>
}

