@{
    var Id = 0;
    var Title = string.Empty;
    var Description = string.Empty;
    var Like = 0;
    var Dislike = 0;
}

<form method="post" asp-controller="Forum" asp-action="Update">
    <div class="mb-3">
        <label asp-for="@Id" class="form-label">Id to change</label>
        <input type="text" class="form-control" asp-for="@Id">
    </div>
    <div class="mb-3">
        <label asp-for="@Title" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="@Title">
    </div>
    <div class="mb-3">
        <label asp-for="@Description" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="@Description">
    </div>
    <div class ="mb-3">
        <label asp-for="@Like" class="form-label">Like</label>
        <input type="text" class="form-control" asp-for="@Like" value="0">
    </div>
    <div class="mb-3">
        <label asp-for="@Dislike" class="form-label">Dislike</label>
        <input type="text" class="form-control" asp-for="@Dislike" value="0">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
